p{
    color: #555;
    font-family: arial;
    background: #ff9ceb;
    font-size:"16pt";
    font-weight: bold;
}

p.group{
    color: rgb(253, 168, 189);
    font-family: verdana;
    font-size:"14pt";
    font-weight: normal;
    background: #751a56;
}

p#one{
    color: #04c3b9;
    background: #FFFFFF;
}